h4{
    text-align: center;
    background-color: aqua;
    position: relative;
    padding: 20px;
}


h4::after{
    content: "";
    width: 45%;
    height: 5px;
    background-color: black;
    position: absolute;
    display: block;
    top:50%;
    left: 0;
}
h4::before{
    content: "";
    width: 45%;
    height: 5px;
    background-color: black;
    position: absolute;
    display: block;
    top:50%;
    right: 0;
}

